@font-face {
    font-family: dubai;
    src: url("../../../public/assets/fonts/Dubai-Medium.woff");
  }


  @font-face {
    font-family: dubaiBold;
    src: url("../../../public/assets/fonts/Dubai-Bold.woff");
  }